$accent-color: #2196f3;
$white-color: #ffffff;
$black-color: #000000;
$text-bold-color: #212121;
$text-normal-color: #757575;
$background-accent: #f5f4fa;
$background-white-text: rgba(47, 48, 58, 0.8);
$background-high-accent: rgba(33, 150, 243, 0.9);
$main-icons: #afb1b8;
$footer-icons: rgba(255, 255, 255, 0.1);
$footer-address-color: rgba(255, 255, 255, 0.6);
$footer-background: #2f303a;
$footer-developed-text: rgba(255, 255, 255, 0.4);
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
